*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 809px;
    margin-bottom: 130px;
}

.banner_content{
    text-align: right;    
    padding: 216px 230px 167px 845px;
}

.banner_content_title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-bottom: 24px;
}
.banner_content_description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 32px;
}
.primary_banner_btn{
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 25px;

}
.my_failures{
    display: flex;
    gap: 87px;
    margin-left: 206px;
    margin-right: 322px;
    margin-bottom: 130px;
}

.my_failures_image{
    background-color: rgba(241, 91, 34, .2);
    border-radius: 50%;
}


.my_failures_content{
    text-align: left;
    padding-top: 240px;
}

.my_failures_title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
    padding-right: 80px;
}

.my_failures_description{
    font-weight: 400px;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}
.my_failures_list{
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin: 0;
    padding-left: 0;
}

.my_plans_title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}
.my_plans_content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 124px;
}
.my_plans_content_items{
    align-items: center;
    text-align: center;    
}

.my_plans_content_items_title{
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}
.my_plans_content_items_description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
.my_plans_banner{
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    height: 300px;
    margin: 0 230px;
    padding-top: 59px;
    padding-left: 64px;
    padding-right: 617px;
    margin-bottom: 130px;
}
.my_plans_banner_title{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;

}
.my_plans_banner_btn{
    border: none;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.footer_content{
    background-color: #151414;
    display: flex;
    gap: 331px;
    padding: 130px 229px 130px 230px;
}
.feature{
    text-align: left;
}
.feature_title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.feature_description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.feature_email{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.feature_phone{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.feature_social_icon{
    display: flex;
    gap: 18px;    
}
.subscribe_title{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 31px;
}
input[type=email]{
    background-color: #151414;
    width: 325px;
    height: 64px;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding-left: 21px;
    margin-bottom: 16px;
}
.subscribe_btn{
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    width: 170.11px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
}




